# 1) Given a list, write a Python program to swap first and last element of the list.

In [4]:
# by using normal swaping 
l = [12, 35, 9, 56, 24]
n = len(l)
first  = l[0]
last = l[n-1]
l[0] = last
l[n-1] = first
l

[24, 35, 9, 56, 12]

In [5]:
l = [12, 35, 9, 56, 24]
first  = l[0]
last = l[-1]
l[0] = last
l[-1] = first
l

[24, 35, 9, 56, 12]

In [7]:
# Swaping
l = [12, 35, 9, 56, 24]
l[0],l[-1] = l[-1],l[0]
l

# a = 2
# b = 3
# a,b = b,a
# print(a,b)

[24, 35, 9, 56, 12]

In [12]:
# by using * operand
l = [12, 35, 9, 56, 24]
first, *middle, last = l
print(first, middle, last)
l = last, *middle, first
l
# def square(*x):
#     for xx in x:
#         return xx*xx
# square([4,5])

12 [35, 9, 56] 24

(24, 35, 9, 56, 12)

# Find the Length of a List in Python

In [13]:
l = [12, 35, 9, 56, 24]
len(l)

5

In [14]:
count=0
for i in l:
    count += 1
count

5

In [16]:
from operator import  length_hint
count = length_hint(l)
count

5

In [19]:
count=0
for i in l:
    count = sum([1,count])
    print("Counting:",count)
# count

Counting: 1
Counting: 2
Counting: 3
Counting: 4
Counting: 5

In [20]:
# count = sum(1 for i in l)
# count

5

In [31]:
# Using enumerate function
l = [12, 35, 9, 56, 24]
enumerate(l)
l2 = list(enumerate(l))
l2
# list(enumerate('richa'))
# count = 0
# for ind,val in l2:
#     print(ind+1)
    
l3 = [12, 35, 9, 56, 24]
l4 = [12, 35, 9, 56, 24]
print(list(zip(l3,l4)))
l5 = []
for ele1,ele2 in zip(l3,l4):
    l5.append(ele1+ele2)
l5
# list coperahension
l6 = [ele1+ele2 for (ele1,ele2) in zip(l3,l4)]

[(12, 12), (35, 35), (9, 9), (56, 56), (24, 24)]

[24, 70, 18, 112, 48]

In [25]:
# k = [(0, 12), (1, 35), (2, 9), (3, 56), (4, 24)]
# len(k)

5

In [32]:
a,b = 6,7
max(a,b)

7

In [33]:
max(l)

56

In [47]:
l = [12, 35, 9, 56, 24]
# l.sort(reverse=True)
# print(l)
# def maximum(li):
#     li.sort()
#     mini,maxi = li[0],li[-1]
#     return mini,maxi
# maximum(l)

def maximum2(li):
    maxi = li[0]
    for item in li[1:]:
        if item>maxi:
            maxi = item
    return maxi
maximum2(l)

56

In [49]:
# ternary operator
print(a if a>b else b)

7

In [52]:
# by using lambda function
f = lambda a,b: a if a>b else b
f(6,7)

7

# Remove duplicate elements from a list

In [88]:
# l1 = [12, 35, 9, 56, 24, 9, 35] #[12,35,9,56,24]
# uniquevals = []
# for itm in l1:
#     if itm not in uniquevals:
#         uniquevals.append(itm)
# uniquevals    
# s1 = set(l1)


# print(s1)
l2 = [12, 35, 9, 56, 24, 9, 35,35,35] #[12,56,24]
l3 = [56,35,9, 56, 24, 9, 35,35,35] #[12,56,24]
def remove_duplicate(l2):
    d = dict()
    for itm in l2:
        d[itm]=d.get(itm,0)+1
    d
    print(d)
    # uniquevals = []
    # for k in d:
    #     if d[k]==1:
    #         uniquevals.append(k)
    # uniquevals
    # uniquevals = []
    for k in d:
        if d[k]!=1:
            v=d[k]
            while v>=1:
                l2.remove(k)
                v = v-1
    return l2
remove_duplicate(l3)

{56: 2, 35: 4, 9: 2, 24: 1}

[24]

In [89]:
li = [(),(9,4)]
for itm in li:
    if len(itm)==0:
        li.remove(itm)
li

[(9, 4)]

# Python program to print even length words in a string

In [91]:
ll = ['anindita','richa','jay','sid','bisariya']
for name in ll:
    if len(name)%2 == 0:
        print(name)

anindita
bisariya

# Create a program that checks if two sets have any elements in common

In [94]:
s1 = {2, 3, 4, 5}
s2 = {3, 5, 7, 8}
s = set()
for itm in s1:
    if itm in s2:
        s.add(itm)
s

{3, 5}

In [ ]:
s1 = {2, 3, 4, 5}
s2 = {3, 5, 7, 8}
s = set()
for itm1 in s1:
    for itm2 in s2:
        if itm1==itm2:
            s.add(itm1)
s

In [95]:
import numpy as np
1.0/(1.0+np.exp(-0.263))

0.5653736147259241